{% extends 'base.html.twig' %}

{% block title %}L'Actu - {{ theme }}
{% endblock %}

{% block body %}

	<h1>Les derniers articles "{{ theme }}"</h1>

	<div class="container-fluid">
		<div class="row d-flex">

			{% for currentArticle in rss %}

				<div class="image col-lg-6 col-xxl-4 col-sm-12">
					<a href="{{ currentArticle.link }}">
						<div class="card">
							<img src="{{ currentArticle.enclosure.attributes.url }}" class="img-fluid" alt="">
							<h2 class="carousel-caption">{{ currentArticle.title }}</h2>
						</div>
					</a>
				</div>

			{% endfor %}

		</div>
	</div>


{% endblock %}
